[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
sport80 = "*"
pandas = "*"

[dev-packages]
black = "*"

[requires]

[pipenv]
allow_prereleases = true
