[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
uvicorn = "*"
sport80 = "*"
flask = "*"
flask-cors = "*"
gunicorn = "*"

[dev-packages]
black = "*"

[requires]

[pipenv]
allow_prereleases = true
