.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 0;
}

.logo {
  height: 76px;
  width: 100px;
  position: relative;
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.linkContainer > a {
  display: flex;
}

.themeSelector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.themeIconDark {
  color: white;
}

.themeIconLight {
  color: #7e868c;
}

.themeIconDark, .themeIconLight {
  margin-top: 2px;
}

@media (min-width: 600px) {
  .logo {
    width: 150px;
  }
}