<!DOCTYPE html>
   <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Search Bar</title>
        <link rel="stylesheet" href="style.css">
      </head>
      <body>
      <body>
      <div class="form-container">
          <form class="form">
              <input id="search" type="text" class="input" placeholder="search..."/>
              <button id="clear" class="clear-results">clear</button>
          </form>

      </div>
      <div class="results-container">
       <ul class="results-list" id="list">
      </ul>
      </div>
        <script src="{{url_for('static', filename='index.js')}}"></script>
      </body>
   </html>