name: Database Update

on:
    schedule:
        # Runs at midnight everyday
        - cron: '10 0 * * *'

jobs:
    update-database:
        runs-on: ubuntu-latest
        strategy:
            matrix:
              python-version: ["3.11"]

        steps:
        - name: Check out repository
          uses: actions/checkout@v2

        - name: Set up Python ${{ matrix.python-version }}
          uses: actions/setup-python@v2
          with:
                python-version: ${{ matrix.python-version }}
        
        - name: Install dependencies from pipfile
          run: |
                pip install python -r requirements.txt
                cd python_tools
                python -m pip install --upgrade pip
                pip install pipenv
                pipenv install --dev

        - name: Run backend_cli.py
          run: |
                cd python_tools
                pipenv run python backend_cli.py
        
        - name: Run check_db.py
          run: |
                cd python_tools
                pipenv run python check_db.py

        - name: Commit and push if there are changes
          run: |
                git add . 
                git commit -m "Database Update" || echo "No changes to commit"
                git push

        - name: Open a pull request
          uses: repo-sync/pull-request@v2
          with:
            destination_branch: 'testing'
            pr_title: 'Database Update'
            pr_body: 'Database Update'
