name: Go

on:
  push:
    branches: [ "development", "master"]
  pull_request:
    branches: [ "development", "master"]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: Build
      run: go build -v ./.../backend/

    - name: Test
      run: go test -v ./.../backend/
